@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import 'read-modal.css';
@import 'rtl.css';

/* TODO: create RTL file and fix all the bugs */

body {
  font-family: 'Rubik', sans-serif;
}

.options {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.table {
  width: 60%;
  min-height: 28em;
}

.alert-place-holder {
  position: fixed;
  width: 400px;
  top: 0;
  left: 0;
}

.page-selected {
  background-color: #bac8ff;
}
